.cabecalho{
    background-color: var(--cor-header);
}
.navegacao{
    display: flex;
    align-items: center;
    padding: .5em 0 .5em .5em;
    justify-content:  space-between;
    
}
.navegacao__img{
    text-align: center;
}
.navegacao__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
      padding: 0  6em ;

}
.item{
    font-size: 25px;
    padding: .3em;
    font-family: var(  --font-inter);
    font-weight: bold;

}
.item__link{
    text-decoration: none;
        color: var(--cor-texto-light);
}
.item:hover{
    background-color:   var(  --cor-verde-destaque);
    border-radius: 8px;
    padding: .3em;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

@media (max-width: 768px) {
    .navegacao{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .item{
        font-size: 1.5em;
        padding: 2em 0;
    }
}
@media (max-width: 490px){
   .navegacao .navegacao__item{
      display: none;
    }
}


