.cabecalho{
    background-color: var(--cor-header);
}
.navegacao{
    display: flex;
    align-items: center;
    padding: 1.5em 0 1.5em 1.5em;
    justify-content:  space-between;
    
}
.navegacao__img{
    text-align: center;
}
.navegacao__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
      padding: 0  6em ;

}
.item{
    font-size: 25px;
    padding: .3em;
    font-family: var(  --font-inter);
    font-weight: bold;

}
.item__link{
    text-decoration: none;
        color: var(--cor-texto-light);
}
.item:hover{
    background-color:   var(  --cor-verde-destaque);
    border-radius: 8px;
    padding: .3em;
}


