.planos__subtitulo{
  text-align: center;
  padding: 1em;
  font-size: 32px;
  font-family: var(--fonter-Oswald);
  font-weight: bold;
}
.pacotes{
  display: flex;
  justify-content:center;
  margin:  4.5em;
  gap:30px;
}
.card-plano {
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 30px;
    width: 300px;
    text-align: center;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: Arial, sans-serif;
}

.titulo-plano {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 5px;
}

.preco-plano {
    color: #2ecc71;
    font-size: 3em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
}

.subtitulo-plano {
    color: #555;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.lista-beneficios {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.lista-beneficios li {
    text-align: left;
    margin-bottom: 8px;
    color: #666;
    position: relative;
    padding-left: 25px;
}


.lista-beneficios li::before {
    content: '✓';
    color: #2ecc71;
    font-weight: bold;
    position: absolute;
    left: 0;
}

.botao-plano {
    background-color:var( --cor-verde-destaque);
    color: var(--cor-bg-dark);
    padding: 12px 25px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botao-plano:hover {
    background-color: var(--cor-verde-hover);
}

