@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


@import url('cabecalho.css');
@import url('banner.css');


:root{
        /*cores*/
    --cor-header:#333333;
    --cor-bg-light:#D9D9D9;
    --cor-bg-dark:#0D0D0D;
    --cor-verde-destaque:#A4DE02;
      --cor-verde-hover:#ceff0c;
    --cor-texto-light:#E0ECE4;
    --cor-texto-dark:#3B3B3B;
     --cor-texto-hover:#1c1c1c;


    --font-inter:  font-family: "Inter", sans-serif;
    --fonter-Oswald:  font-family: "Oswald", sans-serif;
}